@model tilrepo.Models.til

@{
    ViewData["Title"] = "Create";
}

<h2>Today I learned</h2>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="content" class="control-label"></label>
                <textarea asp-for="content" rows="10" class="form-control" ></textarea>
                <span asp-validation-for="content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tags" class="control-label"></label>
                <input asp-for="tags" class="form-control" />
                <span asp-validation-for="tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="reference" class="control-label"></label>
                <input asp-for="reference" class="form-control" />
                <span asp-validation-for="reference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
